Repository smithy-lang/smithy-typescript, changes with the owners that .github/CODEOWNERS names for each.
All owners: @awslabs/aws-sdk-js-team, @adamthom-amzn, @gosar, @JordonPhillips

Publish v3.35.0
  packages/protocol-http/CHANGELOG.md
  packages/protocol-http/package.json
Owners: @awslabs/aws-sdk-js-team

chore(deps-dev): bump jest to v27
  smithy-typescript-codegen/src/main/resources/software/amazon/smithy/typescript/codegen/base-package.json
  smithy-typescript-integ-tests/package.json
  smithy-typescript-ssdk-libs/package.json
  smithy-typescript-ssdk-libs/server-apigateway/package.json
  smithy-typescript-ssdk-libs/server-common/package.json
  smithy-typescript-ssdk-libs/yarn.lock
Owners: @awslabs/aws-sdk-js-team, @adamthom-amzn, @gosar, @JordonPhillips

chore(deps-dev): bump ts-jest to v27
  smithy-typescript-codegen/src/main/resources/software/amazon/smithy/typescript/codegen/base-package.json
  smithy-typescript-integ-tests/package.json
  smithy-typescript-ssdk-libs/package.json
  smithy-typescript-ssdk-libs/server-common/package.json
  smithy-typescript-ssdk-libs/yarn.lock
Owners: @awslabs/aws-sdk-js-team, @adamthom-amzn, @gosar, @JordonPhillips

chore(tsconfig): remove sourceMap
  smithy-typescript-codegen/src/main/resources/software/amazon/smithy/typescript/codegen/tsconfig.json
Owners: @awslabs/aws-sdk-js-team

Add ability to ts-ignore a default import
  smithy-typescript-codegen/src/main/java/software/amazon/smithy/typescript/codegen/ImportDeclarations.java
  smithy-typescript-codegen/src/main/java/software/amazon/smithy/typescript/codegen/TypeScriptWriter.java
  smithy-typescript-codegen/src/test/java/software/amazon/smithy/typescript/codegen/ImportDeclarationsTest.java
Owners: @awslabs/aws-sdk-js-team

Add ability to ts-ignore a default import
  smithy-typescript-codegen/src/main/java/software/amazon/smithy/typescript/codegen/ImportDeclarations.java
  smithy-typescript-codegen/src/main/java/software/amazon/smithy/typescript/codegen/TypeScriptWriter.java
  smithy-typescript-codegen/src/test/java/software/amazon/smithy/typescript/codegen/ImportDeclarationsTest.java
Owners: @awslabs/aws-sdk-js-team

Remove inlineSourceMap and inlineSources from SSDK libs
  smithy-typescript-ssdk-libs/tsconfig.json
Owners: @adamthom-amzn, @gosar, @JordonPhillips

feat(tsconfig): remove sourceMap (#443)
  smithy-typescript-codegen/src/main/resources/software/amazon/smithy/typescript/codegen/tsconfig.json
Owners: @awslabs/aws-sdk-js-team

Remove smithy-typescript-integ-tests
  smithy-typescript-integ-tests/.eslintrc.js
  smithy-typescript-integ-tests/codegen/.gitignore
  smithy-typescript-integ-tests/codegen/build.gradle
  smithy-typescript-integ-tests/codegen/custom_validation/custom_validation.smithy
  smithy-typescript-integ-tests/codegen/settings.gradle
  smithy-typescript-integ-tests/codegen/smithy-build.json
  smithy-typescript-integ-tests/codegen/validation/validation.smithy
  smithy-typescript-integ-tests/jest.config.js
  smithy-typescript-integ-tests/package.json
  smithy-typescript-integ-tests/prettier.config.js
  smithy-typescript-integ-tests/src/custom_validation.spec.ts
  smithy-typescript-integ-tests/src/default_validation.spec.ts
  smithy-typescript-integ-tests/src/enum.spec.ts
  smithy-typescript-integ-tests/src/length.spec.ts
  smithy-typescript-integ-tests/src/nested.spec.ts
  smithy-typescript-integ-tests/tsconfig.json
Owners: @adamthom-amzn, @gosar, @JordonPhillips, @awslabs/aws-sdk-js-team

chore: publish files in dist-* only
  smithy-typescript-codegen/src/main/resources/software/amazon/smithy/typescript/codegen/base-package.json
Owners: @awslabs/aws-sdk-js-team

Remove inlineSourceMap and inlineSources from SSDK libs
  smithy-typescript-ssdk-libs/tsconfig.json
Owners: @adamthom-amzn, @gosar, @JordonPhillips

Remove smithy-typescript-integ-tests
  smithy-typescript-integ-tests/.eslintrc.js
  smithy-typescript-integ-tests/codegen/.gitignore
  smithy-typescript-integ-tests/codegen/build.gradle
  smithy-typescript-integ-tests/codegen/custom_validation/custom_validation.smithy
  smithy-typescript-integ-tests/codegen/settings.gradle
  smithy-typescript-integ-tests/codegen/smithy-build.json
  smithy-typescript-integ-tests/codegen/validation/validation.smithy
  smithy-typescript-integ-tests/jest.config.js
  smithy-typescript-integ-tests/package.json
  smithy-typescript-integ-tests/prettier.config.js
  smithy-typescript-integ-tests/src/custom_validation.spec.ts
  smithy-typescript-integ-tests/src/default_validation.spec.ts
  smithy-typescript-integ-tests/src/enum.spec.ts
  smithy-typescript-integ-tests/src/length.spec.ts
  smithy-typescript-integ-tests/src/nested.spec.ts
  smithy-typescript-integ-tests/tsconfig.json
Owners: @adamthom-amzn, @gosar, @JordonPhillips, @awslabs/aws-sdk-js-team

feat: publish files in dist-* only (#444)
  smithy-typescript-codegen/src/main/resources/software/amazon/smithy/typescript/codegen/base-package.json
Owners: @awslabs/aws-sdk-js-team

feat: publish files in dist-* only (#2873)
  packages/protocol-http/package.json
Owners: @awslabs/aws-sdk-js-team

feat: publish files in dist-* only (#2873)
  packages/abort-controller/package.json
  packages/chunked-blob-reader-native/package.json
  packages/chunked-blob-reader/package.json
  packages/config-resolver/package.json
  packages/credential-provider-imds/package.json
  packages/eventstream-serde-browser/package.json
  packages/eventstream-serde-config-resolver/package.json
  packages/eventstream-serde-node/package.json
  packages/eventstream-serde-universal/package.json
  packages/fetch-http-handler/package.json
  packages/hash-blob-browser/package.json
  packages/hash-node/package.json
  packages/hash-stream-node/package.json
  packages/invalid-dependency/package.json
  packages/is-array-buffer/package.json
  packages/md5-js/package.json
  packages/middleware-apply-body-checksum/package.json
  packages/middleware-content-length/package.json
  packages/middleware-retry/package.json
  packages/middleware-serde/package.json
  packages/middleware-stack/package.json
  packages/node-config-provider/package.json
  packages/node-http-handler/package.json
  packages/property-provider/package.json
  packages/protocol-http/package.json
  packages/querystring-builder/package.json
  packages/querystring-parser/package.json
  packages/service-error-classification/package.json
  packages/shared-ini-file-loader/package.json
  packages/signature-v4/package.json
  packages/smithy-client/package.json
  packages/types/package.json
  packages/url-parser/package.json
  packages/util-body-length-browser/package.json
  packages/util-body-length-node/package.json
  packages/util-buffer-from/package.json
  packages/util-hex-encoding/package.json
  packages/util-uri-escape/package.json
Owners: @awslabs/aws-sdk-js-team

feat: publish files in dist-* only (#2873)
  packages/abort-controller/package.json
  packages/chunked-blob-reader-native/package.json
  packages/chunked-blob-reader/package.json
  packages/config-resolver/package.json
  packages/credential-provider-imds/package.json
  packages/eventstream-serde-browser/package.json
  packages/eventstream-serde-config-resolver/package.json
  packages/eventstream-serde-node/package.json
  packages/eventstream-serde-universal/package.json
  packages/fetch-http-handler/package.json
  packages/hash-blob-browser/package.json
  packages/hash-node/package.json
  packages/hash-stream-node/package.json
  packages/invalid-dependency/package.json
  packages/is-array-buffer/package.json
  packages/md5-js/package.json
  packages/middleware-apply-body-checksum/package.json
  packages/middleware-content-length/package.json
  packages/middleware-retry/package.json
  packages/middleware-serde/package.json
  packages/middleware-stack/package.json
  packages/node-config-provider/package.json
  packages/node-http-handler/package.json
  packages/property-provider/package.json
  packages/querystring-builder/package.json
  packages/querystring-parser/package.json
  packages/service-error-classification/package.json
  packages/shared-ini-file-loader/package.json
  packages/signature-v4/package.json
  packages/smithy-client/package.json
  packages/url-parser/package.json
  packages/util-body-length-browser/package.json
  packages/util-body-length-node/package.json
  packages/util-buffer-from/package.json
  packages/util-hex-encoding/package.json
  packages/util-uri-escape/package.json
Owners: @awslabs/aws-sdk-js-team

Update to Smithy 1.12.0
  smithy-typescript-codegen-test/build.gradle.kts
  smithy-typescript-codegen/build.gradle.kts
  smithy-typescript-codegen/src/main/java/software/amazon/smithy/typescript/codegen/CodegenVisitor.java
  smithy-typescript-codegen/src/main/java/software/amazon/smithy/typescript/codegen/HttpProtocolTestGenerator.java
  smithy-typescript-codegen/src/main/java/software/amazon/smithy/typescript/codegen/ServerCommandGenerator.java
  smithy-typescript-codegen/src/main/java/software/amazon/smithy/typescript/codegen/SymbolVisitor.java
  smithy-typescript-codegen/src/main/java/software/amazon/smithy/typescript/codegen/integration/HttpBindingProtocolGenerator.java
  smithy-typescript-codegen/src/main/java/software/amazon/smithy/typescript/codegen/integration/HttpProtocolGeneratorUtils.java
Owners: @awslabs/aws-sdk-js-team, @adamthom-amzn, @gosar, @JordonPhillips

Update to Smithy 1.12.0 (#448)
  smithy-typescript-codegen-test/build.gradle.kts
  smithy-typescript-codegen/build.gradle.kts
  smithy-typescript-codegen/src/main/java/software/amazon/smithy/typescript/codegen/CodegenVisitor.java
  smithy-typescript-codegen/src/main/java/software/amazon/smithy/typescript/codegen/HttpProtocolTestGenerator.java
  smithy-typescript-codegen/src/main/java/software/amazon/smithy/typescript/codegen/ServerCommandGenerator.java
  smithy-typescript-codegen/src/main/java/software/amazon/smithy/typescript/codegen/SymbolVisitor.java
  smithy-typescript-codegen/src/main/java/software/amazon/smithy/typescript/codegen/integration/HttpBindingProtocolGenerator.java
  smithy-typescript-codegen/src/main/java/software/amazon/smithy/typescript/codegen/integration/HttpProtocolGeneratorUtils.java
Owners: @awslabs/aws-sdk-js-team, @adamthom-amzn, @gosar, @JordonPhillips

.github/CODEOWNERS:

# The JS team owns everything by default
* @awslabs/aws-sdk-js-team

# These libraries are only intended for use with the SSDK.
smithy-typescript-ssdk-libs/* @adamthom-amzn @gosar @JordonPhillips

# These integs tests are mostly for the SSDK integrations
smithy-typescript-integ-tests/* @adamthom-amzn @gosar @JordonPhillips

# These are all specific to SSDK functionality.
smithy-typescript-codegen/src/main/java/software/amazon/smithy/typescript/codegen/ServerCommandGenerator.java @adamthom-amzn @gosar @JordonPhillips
smithy-typescript-codegen/src/main/java/software/amazon/smithy/typescript/codegen/ServerErrorGenerator.java @adamthom-amzn @gosar @JordonPhillips
smithy-typescript-codegen/src/main/java/software/amazon/smithy/typescript/codegen/ServerGenerator.java @adamthom-amzn @gosar @JordonPhillips
smithy-typescript-codegen/src/main/java/software/amazon/smithy/typescript/codegen/ServerSymbolVisitor.java @adamthom-amzn @gosar @JordonPhillips
